.container-fluid > .row{
  border-top: 4px solid rgb(17,161,208);
  background: rgba(10, 200, 200, 0.2);
}

.header-wrapper{
  display: flex;
  margin: 30px;
}

.header-wrapper h3{
 padding-top:10px;
}

.header-wrapper img{
  height: 60px;
  border: 1px solid transparent;
  border-radius: 170px;
}

.header-wrapper p{
  width: 50px;
  color: rgb(25,150,191);
  padding-top:15px;
}

.body{
  background: rgba(17,161,208, 0.3);
  opacity: 90px;
  filter: alpha(opacity= 0.9);
  margin:0px;
}
.search{
  width:100%;
  padding:5px;
  margin-left:162px;
}

/*.search-input{
  width: 100%;
  -moz-box-shadow: 2px solid rgba(25,150,191, 0.5);
  -webkit-box-shadow: 2px solid rgba(25,150,191, 0.5);
  border: 2px solid rgba(25,150,191, 0.5);
  border-radius: 10px;
  padding: 10px;

}
*/
.search-field{
  padding-top: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width:75%;
  padding:5px 4px;
  padding-right: 43px;
  background: #fff;
  color: #000;
  border:1px solid rgba(25,150,191, 0.5);
  font-size: 1.6em;
  border-bottom-color:rgba(25,150,191, 0.5);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 8px;
  -moz-box-shadow: inset 0 1px 1px rgba(25,150,191, 0.5), 0 0 0 3px #f0f0f0;
  -webkit-box-shadow: inset 0 1px 1px rgba(25,150,191, 0.5), 0 0 0 3px #f0f0f0;
  box-shadow: inset 0 1px 1px rgba(25,150,191, 0.5), 0 0 0 3px #f0f0f0;
}

.search-submit{
   position: absolute;
   right: -135px;
   top: -29px;
   width: 40px;
   height: 42px;
   border: 0;
   cursor: pointer;
   zoom: 1;
   filter:aplha(opacity=75);
   opacity: 0.75;
   background: transparent url(./search.jpg) top left no-repeat;
   margin-top: 167px;
   margin-right: 320px;
}

.search-submit:hover{
  filter:alpha(opacity=90);
  opacity: 0.9;
}

.sort-button{
  margin-top: 10px;
  margin-left: 800px;
  font-weight: bold;
  padding: 3px; 
  border: 2px solid rgba(25,150,191, 0.5);
  border-radius: 10px;
   color: white;
  background: rgba(0,0,0, 0.1);
}
.sort-button:hover{
  color: rgba(0,0,0, 0.3);
}
.hotels-wrapper{
  display: flex;
  margin-top: 50px;
  margin-left: 120px;
  flex-wrap: wrap;
}
.loading{
  font-size: 40px;
  font-weight: bold;
  color: rgb(25,150,191);
}
.wrappers{
  border: 1px dashed rgba(25,150,191, 0.5);
  margin:30px;
  border-bottom-color:rgba(25,150,191, 0.5);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 8px;
  -moz-box-shadow: inset 0 1px 2px rgba(25,150,191, 0.5), 0 0 0 4px #f0f0f0;
  -webkit-box-shadow: inset 0 1px 2px rgba(25,150,191, 0.5), 0 0 0 4px #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(25,150,191, 0.5), 0 0 0 4px #f0f0f0;
  height: 200px;
  width: 400px;
  font-size-adjust: 0.58;
}

.hotel-slide-top{
  border-bottom: 2px dashed rgba(0,0,0, 0.4);
  display: flex;
  margin:5px;
  padding: 4px;
}

.hotel-slide-top img{
   padding: 3px;
   border: 1px solid rgba(0,0,0, 0.1);
   width: 92px;
}
.hotel-top-header{
  padding-left: 10px;
}
.hotel-top-header .platform{
  font-size: 12px;
   position: relative;
}

.hotel-top-header h4{
   font-size: 23px;
   width: 250px;
   color: rgb(93,94,175);
   font-size-adjust: 0.58;
   position: relative;
   height: 70px;
}

.hotel-top-header{
  margin-left: 20px;

}

.hotel-slide-bottom{
  display: flex;
  margin:5px;
}
.hotel-slide-bottom , span, p{
   padding-right: 20px;
}

.genre{
  color: rgb(104,128,53);
  font-weight: bold;
.hotel-score{
  margin-left: 180px;
  justify-content: flex-end;
  font-size: 22px;
  color: rgb(221,49,49);
  width: 15px;
}
body{
    background: rgba(156,215,243, 0.4);
}
.pagination{
  margin: 20px;
  margin-left: 160px;
  border: 2px solid rgba(25,150,191, 0.5);
  width: 80%;
}
.page-item{
  width: 100px;
  text-align: center;
  border-radius: 20px;
}

.page-link{
   color: black;
   border-right: 1px solid rgba(25,150,191, 0.5);
   border-left: 1px solid rgba(25,150,191, 0.5);
}
