
body {
  padding-top: 50px;
  background: rgba(77,167,251, 0.3);
}
.head-wrap h3 {
  padding-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 9px;

}

.bg-nav{
  border: 1px solid #fff;
}

 .placeholders{
  margin-top:40px;
 }
.placeholder{
  display: flex;
  margin:0px;
  padding:0px;
}

.font-color{
  color: rgb(3,109,209);
}
.board{
  background: rgba(255,255,255, 0.4);
}
.table{
  border-radius: 10px;
  border:2px solid #fff;
}

.bg{
color: rgba(0,0,0,0.7);
}
.sidebar {
  position: fixed;
  top: 31px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}
.head-wrap{
  display: flex;
  border-bottom: 1px solid #eee;
}
.head-wrap span{

}
/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggler{
  color: rgba(20, 50, 150, 0.9);
  height: 10px!important;
  cursor: pointer;
}
.sidebar .nav {
  margin-bottom: 20px;
  margin-left: 0px;
}

.sidebar .nav-item {
  width: 100%;
  margin-left: 0px;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0px;
  padding-left: 0px;
}

.sidebar .nav-link {
  margin-top: 0px;
  border-radius: 0;
  border-bottom: 1px solid rgba(3,109,209, 0.1);
  padding: 11px;
}
.placeholders {
  padding-bottom: 1rem;
}

.hotel-wrapper{
  margin: 15px;
  border: 2px solid rgba(255,255,209, 0.3);
}
.hotel-wrapper img{
  padding: 10px;
}
.filter {
  padding-left: 0px;
}
.filter li{
  margin-left: 0px;
  padding-left: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-top: 5px;
  padding-top: 3px; 
  list-style: none;
  color: rgb(3,109,209);
}
.filters li select {
  width: 100%;
  border-radius: 0px;
  color:  rgb(3,109,209);
}
.hotel-heading{
  padding: 5px 20px 0px 0px;
  display: flex;
}
.hotel-heading .ratings{
  float: right;
  color: rgba(230, 100, 10, 0.9);
} 
.hotel-heading .hotel-name{
  flex: 1;
  flex-basis: 12em;
  text-align: left;
}
.hotel-heading li{
    list-style: none;
}
.hotel-wrapper .hotel-address{
  margin-bottom: 15px;
}
.hotel-heading span , label , p {
  padding-bottom: 10px;
} 
.city-country {
  color: rgba(255,255,255, 0,8);
  padding-top: 10px;
}
.hotel-fluid{
  margin-left: 0px;
  text-align: left;
}
.catergories{
  padding-top: 7px;
}